# Exclude generated Catkin files, but keep settings
/build
/devel
/logs
/.catkin_tools/profiles/default/packages
/.catkin_tools/profiles/default/devel_collisions.txt

# Exclude generated VS Code databases, but keep settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/c_cpp_properties.json

# Exclude Python compiled files
__pycache__/
*.pyc

# Exclude downloaded dependencies
/src/simontest
