[submodule "src/ros_python_pkg"]
	path = src/ros_python_pkg
	url = https://github.com/daniel-robotics/ros_python_pkg.git
	branch = main
[submodule "src/ros_msg_pkg"]
	path = src/ros_msg_pkg
	url = https://github.com/daniel-robotics/ros_msg_pkg.git
	branch = main
[submodule "scripts/bash-common-scripts"]
	path = scripts/bash-common-scripts
	url = https://github.com/daniel-utilities/bash-common-scripts.git
	branch = main
[submodule "scripts/ros-noetic-scripts"]
	path = scripts/ros-noetic-scripts
	url = https://github.com/daniel-utilities/ros-noetic-scripts.git
	branch = main
