<launch>
  <!-- Required arguments: -->
  <!-- arg name="NAME" -->

  <!-- Optional arguments: -->
  <!-- arg name="NAME"  default="VALUE" -->
  <arg name="name"  default="template_node" />
  <arg name="config" default="$(find template_rospy_pkg)/config/template_node.yaml" />
  <arg name="args" default="" />

  <!-- Local constants: -->
  <!-- arg name="NAME"  value="CONSTANTVALUE" -->

  <!-- Nodes -->
  <!--   name: name of the node on the network -->
  <!--   pkg: name of this package -->
  <!--   type: executable file (in folder "nodes") -->
  <!--   output: screen -->
  <!--   args: command-line arguments to pass to the executable -->
  <!--      The following args are passed to the executable by default: __name,  __log -->
  <!--   rosparam: load parameter file into node's private namespace -->
  <node
    name="$(arg name)"
    pkg="template_rospy_pkg"
    type="template_node"
    output="screen"
    args="__config:=$(arg config) $(arg args)" >
    <rosparam command="load" file="$(arg config)" />
  </node>

</launch>
